@use "_colors.scss" as colors;
@use "_breakpoints.scss" as breakpoints;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*::before,
*,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: colors.$textMain;
  background-color: colors.$backgroundMain;
  scroll-behavior: smooth;
}

.section {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  @media (max-width: breakpoints.$laptop) {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
.headline {
  @media (max-width: breakpoints.$tablet) {
    font-size: 40px !important;
    line-height: 45px !important;
  }

  small {
    @media (max-width: breakpoints.$tablet) {
      font-size: 35px !important;
      line-height: 45px !important;
    }
  }
}

.button {
  appearance: none;
  border: 1px solid colors.$textMain;
  color: colors.$backgroundMain;
  background-color: colors.$textMain;
  cursor: pointer;
}
.button--secondary {
  border: 1px solid colors.$textMain;
  color: colors.$textMain;
  background-color: colors.$backgroundMain;
}
.button--circle {
  width: 138px;
  height: 138px;
  padding: 30px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  min-height: 134px;
  margin: 30px auto 45px auto;

  @media (max-width: breakpoints.$laptop) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: breakpoints.$tablet) {
    align-items: center;
    margin-bottom: 100px;
  }

  .header__contact {
    font-size: 18px;
    line-height: 20px;

    .contact__name {
      margin-top: 9px;
      color: colors.$textSecondary;
    }
    .contact__email {
      margin-top: 15px;
    }
  }

  .header__logo {
    width: 410px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    z-index: 100;

    @media (max-width: breakpoints.$laptop) {
      width: 200px;
    }
    @media (max-width: breakpoints.$tablet) {
      top: 140px;
    }
  }

  .header__menu {
    @media (max-width: breakpoints.$tablet) {
      display: block;
    }

    display: none;

    .menu__icon {
      display: block;
      padding: 20px 10px;
      border-radius: 5px;
      position: relative;
      z-index: 101;

      &:hover {
        background-color: #f1f1f1;
      }

      &.open span {
        transform: scaleX(0);
      }
      &.open {
        &::before {
          transform: translateY(10px) rotate(-45deg);
        }
        &::after {
          transform: translateY(-10px) rotate(45deg);
        }
      }

      span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: black;
        transition: transform 0.6s;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        width: 30px;
        left: 10px;
        background-color: black;
        transition: transform 0.6s;
      }
      &::before {
        top: 10px;
      }
      &::after {
        bottom: 10px;
      }
    }
    .open ~ .menu__list {
      transform: translateX(0);
    }
  }
  .menu__list {
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.6s;

    .menu__item {
      position: relative;
      transition: transform 0.6s;
      transform-origin: bottom left;

      &:hover::after {
        transform: translateY(-50%) scaleX(1);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: -20px;
        right: -20px;
        top: 50%;
        height: 6px;
        background-color: black;
        transform: translateY(-50%) scaleX(0);
        transition: transform 0.6s;
        transform-origin: left;
      }

      .menu__link {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
      }

      &:hover {
        transform: skewX(-25deg);
      }
    }
  }
}

.header__nav {
  @media (max-width: breakpoints.$tablet) {
    display: none;
  }

  .nav__list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;

    .nav__item {
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;

      .nav__link {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.intro-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: breakpoints.$tablet) {
    grid-template-columns: 1fr;
  }

  .intro__image__container {
    .intro__image {
      // position: absolute;
      // left: 0;
      // z-index: -1;
      // width: 50vw;

      position: relative;
      left: 100%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 50vw;
      width: 50vw;
      // right: 50%;

      @media (max-width: breakpoints.$tablet) {
        left: 50%;
        max-width: 100vw;
        width: 100vw;
      }
    }
  }

  .intro__content {
    padding: 120px 0 30px 60px;

    @media (max-width: breakpoints.$laptop) {
      padding-top: 40px;
    }
    @media (max-width: breakpoints.$laptopMiddle) {
      padding-top: 0px;
    }
    @media (max-width: breakpoints.$tablet) {
      margin-top: 40px;
      padding-left: 0px;
    }

    .intro__headline {
      font-weight: 700;
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;

      @media (max-width: breakpoints.$laptop) {
        font-size: 50px;
        line-height: 50px;
      }
      @media (max-width: breakpoints.$laptopMiddle) {
        font-size: 40px;
        line-height: 45px;
      }

      small {
        font-weight: normal;
        font-size: 49px;

        @media (max-width: breakpoints.$laptop) {
          font-size: 42px;
        }
        @media (max-width: breakpoints.$laptopMiddle) {
          font-size: 35px;
        }
      }
    }

    .intro__button {
      margin-top: 90px;

      @media (max-width: breakpoints.$laptop) {
        margin-top: 40px;
      }
    }
  }
}

.customers-section {
  margin-top: 120px;
  padding-top: 10px;

  .customers__headline {
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    small {
      font-size: 22px;
    }
  }

  .customers__logos {
    display: block;
    width: 100%;
    max-width: 1023px;
    margin: 48px auto 0 auto;
  }
}

.about-section {
  margin-top: 117px;

  .about__headline {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;

    small {
      font-weight: 400;
      font-size: 54px;
      letter-spacing: 1px;
    }
  }
  .about__content {
    display: grid;
    grid-template-columns: repeat(2, 383px);
    justify-content: space-between;

    @media (max-width: breakpoints.$laptopMiddle) {
      grid-template-columns: 1fr;
    }

    .about__overview {
      margin-top: 32px;

      p {
        font-size: 19px;
        line-height: 25px;
        color: colors.$textSecondary;
      }
      p:not(:first-child) {
        margin-top: 21px;
      }
    }
    .about__awards {
      .awards__section {
        margin-top: 75px;

        .awards__count {
          float: right;
        }

        .awards__heading {
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          text-transform: uppercase;
        }

        .awards__divider {
          margin-top: 16px;
          margin-bottom: 20px;
          height: 1px;
        }

        .awards__list {
          list-style-type: none;

          li {
            font-size: 19px;
            line-height: 25px;
            color: colors.$textSecondary;
          }
          li:not(:first-child) {
            margin-top: 9px;
          }
        }
      }
    }
  }
}

.works-section {
  max-width: 960px;
  margin-top: 160px;

  .works__headline {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;

    small {
      font-weight: 400;
      font-size: 51px;
      line-height: 72px;
      letter-spacing: 1px;
    }
  }
  .works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;

    @media (max-width: breakpoints.$tablet) {
      grid-template-columns: 1fr;
    }

    .works__column {
      .works__work {
        .work__image {
          width: 100%;
        }
        .work__title {
          margin-top: 40px;
          font-weight: 700;
          font-size: 22px;
          line-height: 30px;
          text-align: center;
          text-transform: uppercase;
        }
        .work__category {
          margin-top: 3px;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          text-align: center;
          color: colors.$textSecondary;
        }
      }
      .works__work:not(:first-child) {
        margin-top: 20px;
      }
    }
    .works__column:nth-child(2) {
      margin-top: 100px;

      @media (max-width: breakpoints.$tablet) {
        margin-top: 20px;
      }
    }
  }
}

.services-section {
  max-width: 1058px;
  margin-top: 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: breakpoints.$laptopMiddle) {
    grid-template-columns: 1fr;
  }

  .services__content {
    padding: 110px 131px 110px 0;

    @media (max-width: breakpoints.$laptop) {
      padding-top: 0px;
    }
    @media (max-width: breakpoints.$tablet) {
      padding-right: 0px;
    }

    .services__headline {
      font-weight: 700;
      font-size: 48px;
      line-height: 53px;
      letter-spacing: 1px;
      text-transform: uppercase;

      small {
        font-size: inherit;
        font-weight: normal;
      }
    }

    .services__list {
      margin-top: 43px;

      .services__service {
        &:not(:first-child) {
          margin-top: 38px;
        }

        .service__title {
          font-weight: 700;
          font-size: 22px;
          line-height: 30px;
          text-transform: uppercase;

          small {
            font-weight: 400;
            font-size: 17px;
            letter-spacing: 1px;
          }
        }
        .service__overview {
          margin-top: 10px;
          font-weight: 400;
          font-size: 19px;
          line-height: 25px;
          color: colors.$textSecondary;
        }
      }
    }
  }

  .services__image__container {
    .services__image {
      position: relative;
      margin-left: -50vw;
      left: 50vw;
      width: 50vw;
      max-width: 50vw;

      @media (max-width: breakpoints.$laptopMiddle) {
        left: 50%;
        margin-left: -45vw;
        width: 95vw !important;
        max-width: 95vw !important;
      }
    }
  }
}

.feedbacks-section {
  margin-top: 150px;
  max-width: 100%;

  @media (max-width: breakpoints.$laptop) {
    padding: 0 !important;
  }

  .feedbacks__headline {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;

    small {
      font-weight: 400;
      font-size: 42px;
      letter-spacing: 1px;
    }
  }

  .feedbacks__slider {
    margin-top: 112px;
    overflow: hidden;

    .slider__content {
      display: flex;
      gap: 30px;
      padding: 0 10px;
      white-space: nowrap;

      @media (max-width: breakpoints.$laptop) {
        padding: 0 40px !important;
      }

      .feedbacks__feedback {
        flex-shrink: 0;
        width: 100%;
        max-width: 460px;
        padding: 35px 49px 31px 49px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        white-space: initial;

        .feedback__author {
          .feedback__message {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
          }
          .author__avatar {
            width: 80px;
            height: 80px;
            margin-top: 29px;
          }
          .author__name {
            margin-top: 19px;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
          }
          .author__job {
            margin-top: 5px;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: colors.$textSecondary;
          }
        }
      }
    }

    .slider__indicators {
      margin-top: 30px;
      text-align: center;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: rgba(34, 34, 34, 0.4);
        cursor: pointer;
      }
      span:not(:first-child) {
        margin-left: 6px;
      }

      span.active {
        background-color: rgba(34, 34, 34);
      }
    }
  }
}

.skills-section {
  margin-top: 105px;
  background-color: #020a0c;

  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #ffffff;

    @media (max-width: breakpoints.$tablet) {
      grid-template-columns: 1fr;
    }

    .skills__content {
      padding: 90px 125px 102px 0;

      @media (max-width: breakpoints.$tablet) {
        padding-right: 0;
      }

      .skills__headline {
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        text-transform: uppercase;

        small {
          font-weight: 400;
          font-size: 42px;
          line-height: 72px;
          letter-spacing: 1px;
        }
      }
      .skills__list {
        margin-top: 79px;

        .skills__skill {
          &:not(:first-child) {
            margin-top: 30px;
          }

          .skill__name {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;

            span {
              float: right;
            }
          }
          .skill__progress {
            margin-top: 10px;
          }
        }
      }
      .skills__note {
        margin-top: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .skills__image__container {
      .skills__image {
        position: relative;
        margin-left: -50vw;
        left: 50vw;
        width: 50vw;
        max-width: 50vw;
        height: auto;
        min-height: 100%;
        object-fit: cover;
        object-position: center;

        @media (max-width: breakpoints.$tablet) {
          left: 0;
          width: 100vw !important;
          max-width: 100vw !important;
          margin: 0 -40px;
        }
      }
    }
  }
}

.facts-section {
  margin-top: 116px;

  .facts__headline {
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    small {
      font-weight: 400;
      font-size: 37px;
      line-height: 53px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .facts__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 50px 100px;
    margin-top: 50px;

    .facts__fact {
      .fact__icon {
        display: inline-block;
        width: 60px;
        height: 60px;
      }
      .fact__details {
        display: inline-block;
        vertical-align: top;

        .fact__count {
          font-weight: 700;
          font-size: 53px;
          line-height: 50px;
        }
        .fact__description {
          font-weight: 400;
          font-size: 19px;
          line-height: 25px;
          color: colors.$textSecondary;
        }
      }
    }
  }
}

.blog-section {
  margin-top: 151px;

  .blog__header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px 50px;
    align-items: center;

    @media (max-width: breakpoints.$mobile) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .blog__headline {
      font-weight: 700;
      font-size: 60px;
      line-height: 72px;
      text-transform: uppercase;
      text-align: center;

      small {
        font-weight: 400;
        font-size: 57px;
        line-height: 72px;
        letter-spacing: 1px;
      }
    }
  }

  .blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 95px;

    @media (max-width: breakpoints.$laptopMiddle) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: breakpoints.$tablet) {
      grid-template-columns: 1fr;
    }

    .blog__article {
      .article__media {
        width: 100%;
      }
      .article__categories {
        margin-top: 44px;

        .article__category {
          display: inline-block;
          padding: 7px 16px;
          font-weight: 700;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
          border: 1px solid black;
          border-radius: 100vw;
        }
      }
      .article__title {
        margin-top: 19px;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        text-transform: uppercase;
      }
      .article__date {
        display: block;
        margin-top: 30px;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: #8f8f8f;
      }
    }
  }
}

.cta-section {
  background-color: #020a0c;
  color: #ffffff;
  margin-top: 129px;

  .section {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px 50px;
    padding-top: 98px;
    padding-bottom: 93px;

    @media (max-width: breakpoints.$mobile) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .cta__text {
      .cta__headline {
        font-weight: 700;
        font-size: 94px;
        line-height: 94px;
        text-transform: uppercase;

        @media (max-width: breakpoints.$laptopMiddle) {
          font-size: 60px;
          line-height: 60px;
        }

        small {
          font-weight: 400;
          font-size: 66px;
          line-height: 94px;
          letter-spacing: 1px;
          text-transform: uppercase;

          @media (max-width: breakpoints.$laptopMiddle) {
            font-size: 45px;
          }
        }
      }
      .cta__subheadline {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.footer-section {
  padding: 74px 0 19px 0;

  .footer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .footer__logo {
      width: 110px;
    }
    .footer__links {
      display: flex;
      gap: 30px;

      .footer__link {
        cursor: pointer;

        .link__icon {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .footer__info {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 40px 20px;
    margin-top: 60px;

    .footer__column {
      .column__headline {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
      }
      ul {
        margin-top: 20px;
        list-style-type: none;
        font-weight: 400;
        font-size: 19px;
        line-height: 25px;
        color: colors.$textSecondary;

        &.second {
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          color: colors.$textMain;

          li:not(:first-child) {
            margin-top: 5px;
          }
        }

        &.third {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: colors.$textSecondary;

          li:not(:first-child) {
            margin-top: 5px;
          }
        }
      }

      .footer__button {
        margin-top: 39px;
        padding: 16px 28px;
        border-radius: 100vw;
        font-weight: 700;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
      }
    }
  }

  .footer__copyright {
    margin-top: 29px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: colors.$textSecondary;
  }
}
