@use "_colors.scss" as colors;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*::before,
*,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: colors.$textMain;
  background-color: colors.$backgroundMain;
  scroll-behavior: smooth;
}

.section {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.button {
  appearance: none;
  border: none;
  background: none;
  border: 1px solid colors.$textMain;
  color: colors.$backgroundMain;
  background-color: colors.$textMain;
}
.button--secondary {
  border: 1px solid colors.$textMain;
  color: colors.$textMain;
  background-color: colors.$backgroundMain;
}
.button--circle {
  width: 138px;
  height: 138px;
  padding: 30px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  min-height: 134px;
  margin: 30px auto 45px auto;

  .header__contact {
    font-size: 18px;
    line-height: 20px;

    .contact__name {
      margin-top: 9px;
      color: colors.$textSecondary;
    }
    .contact__email {
      margin-top: 15px;
    }
  }

  .header__logo {
    width: 410px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    z-index: 100;
  }

  .header__nav {
    .nav__list {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 20px;

      .nav__item {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;

        .nav__link {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .intro__image__container {
    .intro__image {
      // position: absolute;
      // left: 0;
      // z-index: -1;
      // width: 50vw;

      left: 100%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 50vw;
      position: relative;
      // right: 50%;
      width: 50vw;
    }
  }

  .intro__content {
    padding: 120px 0 30px 60px;

    .intro__headline {
      font-weight: 700;
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;

      small {
        font-weight: normal;
        font-size: 49px;
      }
    }

    .intro__button {
      margin-top: 90px;
    }
  }
}

.customers-section {
  .customers__headline {
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    small {
      font-size: 22px;
    }
  }
}
